$redColor: #ff0000;
$whiteColor: #FFFFFF;
  
* {
  font-family: "Press Start 2P";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONTAINER APP */
.contaner-components {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  left: 2.5vw;
  top: 2.5vh;
  width: 95vw;
  height: 95vh;
  background-color: $redColor;
  font-size: 1em;
  margin-bottom: 1em;
}

/* FILTTERS */
.filters {
  width: 40%;
  height: 100%;
  margin-bottom: 5em;
}
 
  .select-type {
    margin-top: 2em;
  }

  .btn-filter {
    margin-top: 4em;
    width: 99%;
  }

// POKEMON LIST
.container-list {
  margin-top: 5em;
  height: 100%;
  width: 50%;
}
  .list {
    top: 2em;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80%;
  }
  .list-item {
    width: 100%;
    margin-top: 0.5em;
    text-transform: capitalize;
  }

  .pagination-holder {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
  }
  .btn-pagination {
    width: 10em;
  }



/* COVER OF DISPLAY */
.blank-cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 500vh;
  width: 100vw;
  z-index: -1;
  background-color: $whiteColor;
}

/* DISPLAY  */

.info-visible {
  position: fixed;
  overflow-x: scroll;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 100%;
  width: 50%;
  width: 100%;
  z-index: 10;
  background-color: $whiteColor;
  justify-content: center;
}
 
  .info-image-holder {
    margin-top: 2em;
    text-align: center;
    text-transform: capitalize;
  }
  .info-image {
    height: 15em;
  }

  .info-stats {
    width: 50%;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
    .stat {
      margin-top: 1em;
    }
  }


.info-hidden {
  position: fixed;
  overflow-x: scroll;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  background-color: $whiteColor;
  justify-content: center;
}
.close-display {
  margin-top: 1em;
  margin-bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0);
}

//  

@media only screen and (min-width: 319px) and (max-width: 768px) {
  .contaner-components {
    flex-wrap: wrap;
    height: fit-content;
  }
  .filters {
    width: 100vw;
  }

  .container-list {
    font-size: 0.7em;
    word-wrap: break-word;
    width: 75vw;
  }
  .list {
    max-height: 60vh;
  }
  
    .info-image-holder {
      margin-top: 1em;
    }
    .info-image {
      height: 10em;
    }
    .info-stats {
      width: 90%;
    }
 

  .spacer {
    margin: 1em;
  }

  .btn-pagination {
    word-wrap: normal
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .contaner-components {
    flex-wrap: wrap;
    height: fit-content;
  }

  .filters {
    width: 100vw;
  }

  .container-list {
    font-size: 0.8em;
    word-wrap: break-word;
    width: 88vw;
  }
  .list {
    max-height: 60vh;

}
  .info-image-holder {
    margin-top: 1em;
    height: 50%;
  }
  .spacer {
    margin: 1em;
  }
}


@media only screen and (min-width: 1024px) and (max-width: 1224px) and (orientation: portrait) {

  .container-list {
    font-size: 0.8em;
    word-wrap: break-word;
    width: 100vw;
  }

    .list {
      max-height: 60vh;

}
}

